<div class="space-medium">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>Create Voting Room</h1>
        <form #f="ngForm" novalidate (ngSubmit)="openDialog(f.value)">
          <div class="form-group">
            <label class="control-label required" for="">Title</label>
            <sup style="color:red">*</sup>
            <input type="text" class="form-control" name="title" [ngModel]="temp.title" #title="ngModel" required>
            <small [hidden]="title.valid || (title.pristine && !f.submitted)" class="text-danger">
              Please input your voting title.
            </small>
          </div>
          <div class="form-group">
            <label class="control-label required" for="">Description</label>
            <sup style="color:red">*</sup>
            <textarea type="text" class="form-control description-size" name="description" [ngModel]="temp.description" #description="ngModel"
              required>
            </textarea>
            <small [hidden]="description.valid || (description.pristine && !f.submitted)" class="text-danger">
              Please input your voting description.
            </small>
          </div>
          <div class="form-group">
            <label class="control-label" for="">Date Finish</label>
            <sup style="color:red">*</sup>
            <input type="datetime-local" class="form-control" name="dateEnd" [ngModel]="temp.dateEnd" #dateEnd="ngModel" required style="text-transform: uppercase;">
            <small [hidden]="dateEnd.valid || (dateEnd.pristine && !f.submitted)" class="text-danger">
              Please input your voting date to finish.
            </small>
          </div>
          <div class="form-group">
            <label class="control-label required" for="">Type</label>
            <sup style="color:red">*</sup>
            <br>
            <div class="btn-group btn-group-toggle">
              <label class="btn btn-info" [class.active]="temp.type === 'Public' " (click)="onSelect('Public')">
                <input type="radio" name="type" value="Public" [(ngModel)]="temp.type" #type="ngModel"> Public
              </label>
              <label class="btn btn-info" [class.active]="temp.type === 'Private' " (click)="onSelect('Private')">
                <input type="radio" name="type" value="Private" [(ngModel)]="temp.type" #type="ngModel"> Private
              </label>
            </div>
            <small [hidden]="type.valid || (type.pristine && !f.submitted)" class="text-danger">
              Please input your voting date to finish.
            </small>
          </div>
          <div *ngIf="temp.type === 'Private' " class="form-group">
            <label class="control-label required" for="">List Voters</label>
            <sup style="color:red">*</sup>
            <input type="text" class="form-control tempListVoter-size" name="tempListVoter" [(ngModel)]="tempListVoter" #ListVoter="ngModel"
              required placeholder="Please input the ID of voter you want to invite. Ex: ID123; IT789; ...">
            <small [hidden]="ListVoter.valid || (ListVoter.pristine && !f.submitted)" class="text-danger">
              Please input the ID of voter you want to invite. Ex: ID123; IT789; ...
            </small>
          </div>
          <div class="form-group">
            <label class="control-label" for="">Question</label>
            <sup style="color:red">*</sup>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                Select number of question(s)
              </button>
              <hr class="style">
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" (click)="inputQuantity(1)">1</a>
                <a class="dropdown-item" (click)="inputQuantity(2)">2</a>
                <a class="dropdown-item" (click)="inputQuantity(3)">3</a>
                <a class="dropdown-item" (click)="inputQuantity(4)">4</a>
                <a class="dropdown-item" (click)="inputQuantity(5)">5</a>
                <a class="dropdown-item" (click)="inputQuantity(6)">6</a>
                <a class="dropdown-item" (click)="inputQuantity(7)">7</a>
                <a class="dropdown-item" (click)="inputQuantity(8)">8</a>
                <a class="dropdown-item" (click)="inputQuantity(9)">9</a>
                <a class="dropdown-item" (click)="inputQuantity(10)">10</a>
              </div>
            </div>
            <div *ngFor="let question of multipleChoice; let i = index; trackBy: customTrackBy">
              <div class="input-group-yolo">
                <input class="form-control-yolo" type="text" name="question" [(ngModel)]="multipleChoice[i].question" placeholder="QUESTION #{{i+1}}"
                  #question="ngModel" required>
                <div class="input-group-append">
                  <button class="btn-yolo btn-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Option(s)
                  </button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item" (click)="inputQuantity02(i,2)">2</a>
                    <a class="dropdown-item" (click)="inputQuantity02(i,3)">3</a>
                    <a class="dropdown-item" (click)="inputQuantity02(i,4)">4</a>
                    <a class="dropdown-item" (click)="inputQuantity02(i,5)">5</a>
                  </div>
                </div>
              </div>
              <div *ngFor="let option of multipleChoice[i].options; let x = index; trackBy: customTrackBy">
                <input class="form-control-colo" type="text" name="option" [(ngModel)]="multipleChoice[i].options[x]" placeholder="OPTION #{{x+1}}"
                  #option="ngModel" maxlength="32" required>
              </div>
              <hr class="style">
            </div>
          </div>
          <button type="submit" class="btn btn-primary btn-block" [disabled]="!f.valid">CREATE</button>
          <div class="margin-20" *ngIf="f">
            <div>Form details:-</div>
            <pre>Is form valid?: <br>{{f.valid | json}}</pre> 
            <pre>Is form submitted?: <br>{{f.submitted | json}}</pre>
            <pre>submitted value: <br>{{f.value | json}}</pre>
            <button type="button" (click)="generateListVoter()">Check</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
