/* DashboardComponent's private CSS styles */

.container-fluid {
  margin-top: 5%;
  min-height: 642px;
}

a {
  text-decoration: none;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

h3 {
  text-align: center;
  margin-bottom: 0;
}

h4 {
  position: relative;
}

.grid {
  margin: 0;
}

.card-size {
  text-align: center;
  padding: 20px 10px;
  max-height: 500px;
  min-width: 120px;
}

.card-success:hover {
  background-color: green;
  cursor: pointer;
  color: white !important;
}

.text-dark {
  color: #353742;
}

.card-dark:hover {
  background-color: #353742;
  cursor: pointer;
  color: white !important;
}

.grid-pad {
  padding: 10px 0;
}

.grid-pad>[class*='col-']:last-of-type {
  padding-right: 20px;
}

.blur {
  filter: blur(20px) grayscale(50%);
}

.private {
  text-align: center;
  padding: 16% 2%;
  max-height: 300px;
  min-width: 120px;
  font-size: 5em;
}

@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px;
  }
}

@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 60px;
  }
  .container-fluid {
    margin-top: 15%;
  }
}
