<div class="container-fluid">
  <h1 class="text-center" (click)="testa()">List of avaible votes</h1>
  <div class="row">
    <div class="offset-md-1 col-md-3">
      <button class="btn btn-primary" routerLink="/create">Create</button>
    </div>
    <div class="col-md-1"></div>
    <div class="offset-md-4 col-md-3">
      <div class="btn-group btn-group-toggle">
        <label class="btn btn-info" [class.active]="options === 'All' " (click)="onSelect('All')">
          <input type="radio" name="options" value="All" [(ngModel)]="options"> All
        </label>
        <label class="btn btn-info" [class.active]="options === 'Private' " (click)="onSelect('Private')">
          <input type="radio" name="options" value="Private" [(ngModel)]="options"> Private
        </label>
        <label class="btn btn-info" [class.active]="options === 'Public' " (click)="onSelect('Public')">
          <input type="radio" name="options" value="Public" [(ngModel)]="options"> Public
        </label>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <a class="col-md-3 card-size" *ngFor="let room of rooms | filterPipe : options" routerLink="/room/{{room.id}}">
      <div class="card" [ngClass]="{'border-success text-success card-success': room.type==='Public','border-dark text-dark card-dark': room.type==='Private'}">
        <div class="card-header">
          <h2>{{room.type}}</h2>
        </div>
        <div class="card-body">
          <h5 class="card-title">
            <h2>{{room.title}} {{tempstr}}</h2>
          </h5>
          <p class="card-text text-left">
            <b>Description: </b>{{room.description | slice:0:100}}
            <br>
            <b>Date Created: </b> {{room.dateCreated*1000| date:'medium'}}
            <br>
            <b>Date End: </b> {{room.dateEnd| date:'medium'}}
            <br>
            <b>Owner: </b>
            <i>{{room.owner}}</i>
            <br>
            <b>Time remaining: </b>
            <br>
          </p>
          <h2>
            <countdown-timer [timeOnly]="true" [end]="room.dateEnd|date:'medium'"></countdown-timer>
            hours
          </h2>
        </div>
      </div>
    </a>
  </div>
</div>



<!-- <div *ngFor="let account of listAccount">
  <h1>{{account}}</h1>
</div>
<div>{{temp}}</div>
<div style="margin-top:10%">
  <button (click)="getAcc()">GetListAcc</button>
  <button (click)="getInfo()">GetInfo</button>
  <button (click)="addOption()">AddOption</button>
  <button (click)="getAllEvent()">GetEvent</button>

</div>
<div>
  <h3>{{userInfo.username}}</h3>
  <h3>{{userInfo.id}}</h3>
  <h3>{{userInfo.age}}</h3>
  <h3 *ngFor="let event of eventss">{{event}}</h3>
</div>


<div style="text-align:center">
  <app-dialog-confirm></app-dialog-confirm>
</div> -->
