<!--R&D Introduction-->
<div class="container-fluid cover-image">
  <div class="row justify-content-center ">
    <div class="col-md-6 text-box text-center">
      <h1>Project R&amp;D</h1>
      <hr style="background-color:#ffffff;">
      <p>Project R&amp;D is Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum
        tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
        Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra.
        Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt
        condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis.
        Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat.
        Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
      </p>
      <a class="btn btn-lg btn-success">Read more</a>
    </div>
  </div>
</div>
<!--End R&D Introduction-->

<!--Detail-->
<div class="container detail">
  <!--Bosch Detail-->
  <hr class="detail-divider">
  <div class="row detail">
    <div class="col-md-7">
      <h2 class="detail-heading">Robert Bosch
        <span class="text-muted">Project Client</span>
      </h2>
      <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,
        feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
        mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat
        wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
    </div>
    <div class="col-md-5">
      <img class="detail-image img-fluid mx-auto" src="../../assets/images/logo-bosch.jpg" alt="Generic placeholder image">
    </div>
  </div>
  <!--End Bosch Detail-->

  <!--Project Detail-->
  <hr class="detail-divider">
  <div class="row detail">
    <div class="col-md-7 order-md-2">
      <h2 class="detail-heading">Project Vote Chain
        <span class="text-muted">Apply Blockchain technology</span>
      </h2>
      <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,
        feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
        mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat
        wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="detail-image img-fluid mx-auto" src="../../assets/images/logo-project.png" alt="Generic placeholder image">
    </div>
  </div>
  <!--End Project Detail-->

  <!--Etherum Detail-->
  <hr class="detail-divider">
  <div class="row detail">
    <div class="col-md-7">
      <h2 class="detail-heading">Ethereum
        <span class="text-muted">Support Smart Contract</span>
      </h2>
      <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,
        feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
        mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat
        wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
    </div>
    <div class="col-md-5">
      <img class="detail-image img-fluid mx-auto" src="../../assets/images/logo-ethereum.jpg" alt="Generic placeholder image">
    </div>
  </div>
  <!--End Ethereum Detail-->

  <!--Milestones Detail-->
  <hr class="detail-divider">
  <div class="row detail">
    <div class="col-md-7 order-md-2">
      <h2 class="detail-heading">Milestone
        <span class="text-muted">Follow our plan</span>
      </h2>
      <p class="lead">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam,
        feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies
        mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat
        wisi, condimentum sed, commodo vitae, ornare sit amet, wisi.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="detail-image img-fluid mx-auto" src="../../assets/images/logo-milestone.png" alt="Generic placeholder image">
    </div>
  </div>
  <!--End Milestones Detail-->
  <hr class="detail-divider">
</div>
<!--End Detail-->
